/* 
  Modal for screenshots
*/

#modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* 
  Removes backticks `` from being redered
  for inline code in markdown files
*/
.prose code::before,
.prose code::after {
  content: "";
}

.lesson-content img {
  cursor: pointer;
}

.personality-casual .squiggle {
  filter: url("#squiggle");
  position: relative;
  transform: translateZ(0);
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

.aspect-ratio-none {
  padding-bottom: 0;
}

.aspect-ratio-square {
  padding-bottom: 100%;
}

.aspect-ratio-16\/9 {
  padding-bottom: 56.25%;
}

.aspect-ratio-4\/3 {
  padding-bottom: 75%;
}

.aspect-ratio-21\/9 {
  padding-bottom: 42.86%;
}

[x-cloak] {
  display: none;
}
